<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>New Post</title>
</head>
<body>
<form method="POST" th:action="@{/posts}">
    <table>
        <tr>
            <td><b>Post name: </b></td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td><b>Your post: </b></td>
            <td><input type="text" name="text"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit post"/></td>
        </tr>
    </table>
</form>

</body>
</html>