<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Frgments</title>
</head>
<body>

<div th:fragment="errors">
    <div class="alert alert-danger" th:if="${errors}">
        <ul th:each="error : ${errors}">
            <li th:text="${error}"></li>
        </ul>
    </div>
</div>

<div th:fragment="postEdit(post)">
    <table>
        <tbody>
        <tr>
            <td><b>Post name: </b></td>
            <td><input type="text" name="name" th:value="${post?.name}"/></td>
        </tr>
        <tr>
            <td><b>Your post: </b></td>
            <td>
                <textarea name="text" rows="5" cols="30" th:text="${post?.text}"></textarea>
                <!--<input type="text" name="text" th:value="${post?.text}"/> -->
            </td>
        </tr>
        <tr>
            <td><input class="btn btn-success" type="submit" value="Submit post"/></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid" th:fragment="threadEdit(thread)">
    <table>
        <tbody>
        <tr>
            <td><b>Thread name: </b></td>
            <td><input type="text" name="name" th:value="${thread?.name}"/></td>
        </tr>
        <tr>
            <td><input class="btn btn-success" type="submit" value="Submit thread"/></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="navBar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">TALKBOARD</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/posts}">Posts</a></li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="bootstrap">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</div>

</body>
</html>